<div layout="vertical" layout-fill data-ng-controller="MainController as main">
    <header ng-include="'components/navbar/navbar.html'"></header>
    <md-content>
        <section class="actions-container" layout="row" layout-sm="column" layout-align="center center">
            <md-button data-ng-click="main.view()" aria-label="Show All">All</md-button>
            <md-button data-ng-click="main.view(false)" aria-label="Show Pending">Pending</md-button>
            <md-button data-ng-click="main.view(true)" aria-label="Show Completed">Completed</md-button>
        </section>

        <div class="techs" layout-align="left">
            <md-card data-ng-class="{'is-adding': main.isAdding}">
                <div class="thumbnail">
                    <div>
                        <md-text-float data-on-enter="main.addTodo(main.newTodo)"
                                       data-ng-model="main.newTodo.description"
                                       label="New Todo" autofocus="autofocus"
                                       class="long" aria-label="Description"></md-text-float>
                    </div>
                </div>
            </md-card>
            <md-card ng-repeat="todo in filteredTodos = (main.todos | filter:main.filter)">
                <div class="thumbnail">
                    <md-checkbox ng-model="todo.status" ng-change="main.changeStatus(todo)"
                                 aria-label="Set state"></md-checkbox>
                    <div class="caption" data-ng-hide="todo.isEditing">
                        <h4 data-ng-dblclick="main.editMode(todo)">{{todo.description}}</h4>
                    </div>
                    <div data-ng-show="todo.isEditing">
                        <input data-on-enter="main.updateTodo(todo)" data-on-focus="todo.isEditing"
                               data-ng-model="todo.description"></input>
                    </div>

                </div>
            </md-card>
        </div>
        <div layout="row" layout-align="center">
            <h2 data-ng-hide="filteredTodos.length">No results where found!</h2>
        </div>
    </md-content>
</div>